<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new Employee</title>
</head>
<body>
<h1>list product</h1>
<a href="/create-product">Create new Employee</a>
<form th:action="search">
    <p>search:</p>
    <input name="name" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br/>
<table border="1 px">
    <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Address</th>
        <th>Avatar</th>
        <th>sectors</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="pro : ${products}">
        <tr>
            <td th:text="${pro.ten}"></td>
            <td th:text="${pro.gia}"></td>
            <td th:text="${pro.soluong}"></td>
            <td th:text="${pro.ngaytao}"></td>
            <td th:text="${pro.sectors.name}"></td>
            <td th:text="${pro.mota}"></td>
            <td><a th:href="@{/edit-product/__${pro.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-product/__${pro.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>